<div id="<%= dom_id stop %>">
  <p>
    <strong>Time:</strong>
    <%= stop.time %>
    <br>
    <strong>Days:</strong>
    <%= stop.day.name %>
    <br>
    <strong>Route:</strong>
    <%= stop.route.name %>
    <br>
    <strong>Station:</strong>
    <%= stop.station.name %>
  </p>

</div>
